@import './variables.css';

/* reset */
* { box-sizing: border-box; }
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Inter, "Segoe UI", Roboto, Arial, sans-serif;
  background: var(--bg); /* Fondo blanco */
  color: var(--text-dark); /* Gris oscuro */
}

/* container */
.app-root {
  display: flex;
  min-height: 100vh;
}

/* cards */
.card {
  background: var(--card-bg);
  border-radius: 12px;
  padding: 18px;
  border: 1px solid var(--border);
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

/* utilities */
.row { display: flex; gap: 12px; align-items: center; }
.col { display: flex; flex-direction: column; gap: 12px; }
.muted { color: var(--muted); }
.small { font-size: 0.9rem; color: var(--muted); }

.btn {
  background: var(--primary);
  color: #fff;
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: transform .15s ease, box-shadow .15s ease, background .3s ease;
}
.btn:hover {
  transform: translateY(-3px);
  background: #a00914; /* rojo más oscuro al hover */
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}
